/*w3schools.com/howto/howto_js_sidenav.asp*/
.header {
  /*background-image: url(dundo.png);*/
  text-align: center;
  margin: 0;
  background-image: linear-gradient(to left, #faa93e , #ff8800, #E8175D, #be104a);
  padding: 4em;
  color: #f8f1f1;
}

.pFrontal {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.miolo{
  text-align: center;
  margin: 0;
  padding: 4em;
  color: #161d6f;
  background-color: #474747;
  flex-direction: column;
  min-height: 400px;
}

.footer {
  text-align: center;
  margin: 0;
  background-color: #363636 ;
  padding: 2em;
  color: white;

  
  position: fixed;
  left: 0;
  bottom: 0;
}

.titulo{
  margin-top: 0;
}

/* Tabela Principal de opcao */

.tabelaDeOpcoes {
  width: 100%;
  height: 100%;
}

.hiperligacao{
  text-decoration: none;
}

.divOpcao {
  height: 100%;
  background-color: dimgray;
  border: 3px solid gray;
  /* margin-left: 1em;
  margin-right: 1em;
  padding-top: 3em;*/
  padding-bottom: 0.4em;
  color: white;
}

.divOpcao h2{
  margin: 2em;
  padding: 0;
}
/*
.criarVotacao {

}

.listarVotacoes{

}
*/
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}


