/*w3schools.com/howto/howto_js_sidenav.asp*/
    /*background-image: url(dundo.png);*/
  
  .adicionar_resposta {
    border-radius: 100%;
    background-color: transparent;
    border:none;
    text-align: left;
  }

  .limite-respostas {
    font-size: 70%;
    color: grey;
    margin: 0;
  }

  .miolo{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 30%;
    margin-left: 30%;
    padding: 1%;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: auto
  }

  .footer {
    text-align: center;
    margin: 0;
    background-color: #363636 ;
    padding: 4em;
    color: white;

    width: 100%;
    float: bottom;
    
  }
  
  .titulo{
    margin: 0;
  }

  .respostas{
    margin: 0;
  }
  
  .input-field {
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 200px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: lightgrey;
}

  /* Tabela Principal de opcao */
  
  .tabelaDeOpcoes {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .hiperligacao{
    text-decoration: none;
  }
  

  body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #faa93e , #ff8800, #E8175D, #be104a);
  }
  
 