a {
    text-decoration: none;
    color: Black;
}

.topo-esquerda {
    float: left;
    color:black;
}

a:hover {
    color: #ff9100;
}

.caixa-central {
    margin: auto;
    width: 50%;
    padding: 70px 2em;
    background-color: white;
    /* border: 3px solid black; */
    text-align: center;
    border-radius: 10px;

    /* tentativa de centrar falhada */
    margin-top: 10%;
    margin-bottom: 10%;
}

table {
    table-layout: fixed ;
    width: 100% ;
}

tr {
    width: 100%;
}

/* Icons do Input */
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding:10px;
    padding-left: 0;
    min-width: 40px;
}
  
.input-field {
    min-width: 200px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: lightgrey;
}