body {
    background-image: linear-gradient(to left, #faa93e , #ff8800, #E8175D, #be104a);
    /* background-image: linear-gradient(to right, #E8175D , #ff9100); */
}

a {
    text-decoration: none;
    color: #000;
}
    
a:hover {
    color: #ff9100;
}

.logo{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.caixa-imagem {
    width: 100%;
}

.caixa-central {
    margin: auto;
    width: 50%;
    padding: 70px 2em;
    background-color: white;
    /* border: 3px solid black; */
    text-align: center;
    border-radius: 10px;

    /* tentativa de centrar falhada */
    margin-top: 10%;
    margin-bottom: 10%;
}

table {
    table-layout: fixed ;
    width: 100% ;
}

tr {
    width: 100%;
}

/* Icons do Input */
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding:10px;
    padding-left: 0;
    min-width: 40px;
}
  
.input-field {
    min-width: 200px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: lightgrey;
}

/* Butão de login */
input[type=button], input[type=submit], input[type=reset] {
    min-width: 232px;
    width: 50%;
    padding: 16px 15px;
    background-color: #ff9100;
    border: none;
    color: white;
    text-decoration: none;
    margin-top: 1.5em;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
  }